<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ich.proman.project.mapper.ProjectCoreMapper" >

    <insert id="insert" parameterType="com.ich.proman.project.pojo.Project">
        insert into pro_project(id,title,status,createtime,iterationtime,userid,username,versionid,version)
        values(#{id},#{title},#{status},#{createtime},#{iterationtime},#{userid},#{username},#{versionid},#{version})
    </insert>

    <update id="updateTitle">
        update pro_project set title = #{title} where versionid = #{id}
    </update>

    <update id="updateProjectToDel">
        update pro_project set deletecauses = #{deletecauses} where id = #{id}
    </update>

    <update id="updateProjectToHis">
        update pro_project set iterationcauses = #{iterationcauses} where id = #{id}
    </update>

    <select id="selectById" resultType="com.ich.proman.project.pojo.Project">
        select * from pro_project where id = #{id}
    </select>

    <select id="selectByTitleAndVersion"  resultType="com.ich.proman.project.pojo.Project">
        select * from pro_project where title = #{title} and version = #{version}
    </select>

    <select id="selectByVersion" resultType="com.ich.proman.project.pojo.Project">
        select * from pro_project where versionid = #{versionid} and version = #{version}
    </select>
    
    <select id="selectGroupByVersionid"  resultType="com.ich.proman.project.pojo.Project">
        select * from pro_project group by versionid
    </select>

    <select id="selectVersionById"  resultType="com.ich.proman.project.pojo.Project">
        select * from pro_project where versionid = #{id} order by iterationtime desc
    </select>

</mapper>