<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ich.proman.project.mapper.ProModularMapper" >

    <insert id="insert" parameterType="com.ich.proman.project.pojo.ProModular">
        insert into pro_modular(id,projectid,modularname,isdefault)
        values(#{id},#{projectid},#{modularname},#{isdefault})
    </insert>

    <update id="updateModularName">
        update pro_modular set modularname = #{modularname} where id = #{id}
    </update>
    
    <delete id="delete">
        delete from pro_modular where id = #{id}
    </delete>
    
    <select id="selectById" resultType="com.ich.proman.project.pojo.ProModular">
        select * from pro_modular where id = #{id}
    </select>

    <select id="selectByName" resultType="com.ich.proman.project.pojo.ProModular">
        select * from pro_modular where modularname = #{modularname}
    </select>

    <select id="selectModularDetailById" resultType="map">
        select m.*,
            (select count(*) from pro_prototype where modularid = m.id and groupstatus = 1) as prototypenum,
            (select count(*) from pro_task where modularid = m.id and groupstatus = 1) as tasknum,
            (select count(*) from pro_test where modularid = m.id and groupstatus = 1) as testnum,
            (select count(*) from pro_bug where modularid = m.id and groupstatus = 1) as bugnum,
            (select count(*) from pro_design where modularid = m.id and groupstatus = 1) as designnum,
            (select count(*) from pro_file where modularid = m.id and groupstatus = 1) as filenum
        from pro_modular m where m.id = #{id}
    </select>

</mapper>