<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ich.proman.project.mapper.ProPrototypeTagMapper" >

    <insert id="insert" parameterType="com.ich.proman.project.pojo.ProPrototypeTag">
        insert into pro_prototype_tag(id,prototypeid,mapx,mapy,code,classes,content,userid,username,createtime,groupid,groupstatus,iterationcauses,deletecauses)
        values(#{id},#{prototypeid},#{mapx},#{mapy},#{code},#{classes},#{content},#{userid},#{username},#{createtime},#{groupid},#{groupstatus},#{iterationcauses},#{deletecauses})
    </insert>

    <update id="updateToHis">
        update pro_prototype_tag set groupstatus = 2 where id = #{id}
    </update>

    <update id="updateMap">
        update pro_prototype_tag set mapy = #{mapy},mapx = #{mapx} where id = #{id}
    </update>

    <update id="updateTZForAll">
        update pro_prototype_tag set content = #{nid} where content = #{oid} and classes = 2
    </update>

    <select id="selectById" resultType="com.ich.proman.project.pojo.ProPrototypeTag">
        select * from pro_prototype_tag where id = #{id}
    </select>

    <select id="selectNormalByCode" resultType="com.ich.proman.project.pojo.ProPrototypeTag">
        select * from pro_prototype_tag where prototypeid = #{prototypeid} and code = #{code} and groupstatus = 1
    </select>

    <select id="selectNormalListByPid" resultType="com.ich.proman.project.pojo.ProPrototypeTag">
        select * from pro_prototype_tag where prototypeid = #{prototypeid} and groupstatus = 1
    </select>

    <select id="selectVersions" resultType="com.ich.proman.project.pojo.ProPrototypeTag">
        select * from pro_prototype_tag where groupid = #{id} order by createtime desc
    </select>

</mapper>