<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ich.proman.project.mapper.ProPrototypeMapper" >

    <insert id="insert" parameterType="com.ich.proman.project.pojo.ProPrototype">
        insert into pro_prototype(id,projectid,catalogid,userid,username,createtime,title,img,groupid,groupstatus,iterationcauses,deletecauses)
        values(#{id},#{projectid},#{catalogid},#{userid},#{username},#{createtime},#{title},#{img},#{groupid},#{groupstatus},#{iterationcauses},#{deletecauses})
    </insert>

    <update id="updateTitle">
        update pro_prototype set title = #{title} where id = #{id}
    </update>
    
    <update id="updateToHis">
        update pro_prototype set groupstatus = 2 where id = #{id}
    </update>
    
    <update id="updateToDel">
        update pro_prototype set groupstatus = 3,deletecauses=#{deletecauses} where id = #{id}
    </update>

    <select id="selectById" resultType="com.ich.proman.project.pojo.ProPrototype">
        select * from pro_prototype where id = #{id}
    </select>

    <select id="selectNormalListByPCid" resultType="com.ich.proman.project.pojo.ProPrototype">
        select * from pro_prototype where catalogid = #{catalogid} and groupstatus = 1 order by createtime desc
    </select>
    
    <select id="selectCountNormalListByPCid" resultType="Integer">
        select count(*) from pro_prototype where catalogid = #{catalogid} and groupstatus = 1
    </select>

    <select id="selectVersions" resultType="com.ich.proman.project.pojo.ProPrototype">
        select * from pro_prototype where groupid = #{id} order by createtime desc
    </select>

    <select id="selectListByQuery" resultType="map" parameterType="map">
        select
        t.*,
        p.title as projectname,
        p.version as projectversion,
        m.modularname as modularname
        from pro_prototype t
        left join pro_project p on t.projectid = p.id
        left join pro_modular m on t.catalogid = m.id
        where 1 = 1
        <if test="searchkey!=null"> and t.title like '%${searchkey}%'</if>
        <if test="projectid!=null"> and t.projectid = #{projectid}</if>
        <if test="catalogid!=null"> and t.catalogid = #{catalogid}</if>
        <if test="status!=null"> and t.groupstatus = #{status}</if>
        order by createtime desc
    </select>

    <update id="updateAllToNoDefault">
        update pro_prototype set isdefault=0
    </update>

    <update id="updateDefaultById">
        update pro_prototype set isdefault=1 where id = #{id}
    </update>

    <select id="selectDefaultByCatalog" resultType="com.ich.proman.project.pojo.ProPrototype">
        select * from pro_prototype where catalogid = #{catalogid} and isdefault = 1 and groupstatus = 1
    </select>

</mapper>