<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ich.proman.project.mapper.ProRoleMapper" >

    <insert id="insert" parameterType="com.ich.proman.project.pojo.ProRole">
        insert into pro_role(id,projectid,userid,username,role)
        values(#{id},#{projectid},#{userid},#{username},#{role})
    </insert>

    <delete id="delete">
        delete from pro_role where id = #{id}
    </delete>

    <select id="selectById" resultType="com.ich.proman.project.pojo.ProRole">
        select * from pro_role where id = #{id}
    </select>

    <select id="selectByProId" resultType="com.ich.proman.project.pojo.ProRole">
        select * from pro_role where projectid = #{projectid}
    </select>
    
    <select id="selectOnlyRoleByPid" resultType="com.ich.proman.project.pojo.ProRole">
        select * from pro_role where projectid = #{projectid} group by userid
    </select>

    <select id="selectByOnly" resultType="com.ich.proman.project.pojo.ProRole">
        select * from pro_role where userid = #{userid} and projectid = #{projectid} and role = #{role}
    </select>
    
    <select id="selectByUserid" resultType="com.ich.proman.project.pojo.ProRole">
        select * from pro_role where userid = #{userid} and projectid = #{projectid}
    </select>

    <select id="selectByUseridAndRole" resultType="com.ich.proman.project.pojo.ProRole">
        select * from pro_role where userid = #{userid} and projectid = #{projectid}  and role = #{role}
    </select>
</mapper>